#WEATHER API DB
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#GARMIN DB
DB_USER_GARMIN=
DB_NAME_GARMIN=
DB_PASSWORD_GARMIN=
DB_HOST_GARMIN=
DB_PORT_GARMIN=

API_AUTH_USERNAME=
API_AUTH_PASSWORD=
API_ACCESS_TOKEN=
WEATHER_API_KEY=
