#WEATHER API DB
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#GARMIN DB
DB_NAME_GARMIN=

API_AUTH_USERNAME=
API_AUTH_PASSWORD=
API_ACCESS_TOKEN=
WEATHER_API_KEY=

GARMINDB_PATH=/absolute/path/to/HealthData/DBs/garmin_activities.db
GARMINDB_BOOTSTRAP_PATH=
SECRET_GARMIN=
